*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.nav{
    display: flex;
    width: 100vw;
    min-height: 100px;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
    background: rgb(54, 54, 54);
    position: relative;


    .logo{
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;

        svg{
            font-size: 4rem;
        }
    }


    .form{
        position: absolute;
        left: 25%;
        select{
            padding: 5px 10px;
            font-size: 24px;
            border-radius: 10px;
            border: none;
        }
    }

    .switch {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 34px;
        
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            transition: 0.4s;
            
            &::before{
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background: #000;
                transition: 0.4s;
            }
        }
        
        input:checked + .slider{
            background-color: #000;
        }
        
        input:focus + .slider{
            box-shadow: 0 0 1px #000;


        }
        
        input:checked + .slider:before{
            transform: translateX(26px);
            background-color: #fff;
        }
        
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
          }
          
        }
        

    .themebtn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background: #fff;
        color: #000;
        border-radius: 15px;
        padding: 10px 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 30px;

        &:active
        {
            scale: 0.8;
        }
    }

    ul{
        display: flex;
        list-style-type: none;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 24px;
        .link{
            text-decoration: none;
            color: #fff;
            font-weight: 500;
        }

        .link.active{
            text-decoration: underline;
            font-weight: 900;
        }


    }
}

.nav.dark{
    display: flex;
    min-height: 100px;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
    background: rgb(248, 248, 248);


    .logo{
        display: flex;
        color: #000;
        align-items: center;
        justify-content: center;
        gap: 10px;

        svg{
            font-size: 4rem;
        }
    }

    .themebtn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background: #000;
        color: #fff;
        border-radius: 15px;
        padding: 10px 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:active
        {
            scale: 0.8;
        }
    }



    ul{
        display: flex;
        list-style-type: none;
        gap: 15px;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 24px;
        .link{
            text-decoration: none;
            color: #000;
            font-weight: 500;
        }

        .link.active{
            text-decoration: underline;
            font-weight: 900;
        }


    }
}